body {
    background-color: rgb(18, 18, 18)
}

img {
    float: right;
    max-width: 100%;
    height: auto;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 30px;
    color: white;
}

h2 {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 50px;
    color: white;
}

h5 {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 30px;
    color: white;
}

p {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}

a {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}

.pmain {
    margin-left: 30px;
    margin-right: 30px;
}

div {
    align-items: center;
}
.centered {
    text-align: center;
}

hr {
    color: gray;
    margin: 90px;
}
